<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/carousel-bkg2.png" alt="First slide"> 
          <!--  <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Alexander D. Rowe" alt="First slide"> -->
          <div class="container">
            <div class="carousel-caption">
                <img src="/assets/Alex.jpg" alt="test this", width="100px">
              <h1>Researcher at Oslo University Hospital.</h1>
              <p>Biophysics, imaging<a href="http://en.wikipedia.org/wiki/Serial_comma" target="_blank">,</a> and clinical data analysis.</p>
              <p><a class="btn btn-lg btn-primary" href="/about.html" role="button">About</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/carousel-bkg2.png" alt="First slide">
          <!-- <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1>Research blog</h1>
              <p>A collection of posts sharing useful information and results from my projects.</p>
              <p><a class="btn btn-lg btn-primary" href="/blog.html" role="button">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/carousel-bkg2.png" alt="First slide">
          <!-- <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide"> -->
          <div class="container">
            <div class="carousel-caption">
              <h1>GitHub projects</h1>
              <p>Repositories containing project data and code.</p>
              <p><a class="btn btn-lg btn-primary" href="https://github.com/adrowe1" target="_blank" role="button">adrowe1 on GitHub</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->