 

<!-- NAVBAR
================================================== -->
      <div class="navbar-wrapper">
        <div class="container">

          <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index.html">A.D.Rowe research</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/index.html">Home</a></li>
                  <li><a href="/about.html">About</a></li>
                  
                  <li class="dropdown">
                    <a href="/blog.html" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/blog.html">All posts</a></li>
                      <li class="divider"></li>
                      <li><a href="/bysubject.html">Posts by subject</a></li>
                    </ul>
                  </li>
                  
                  <li class="dropdown">
                    <a href="/projects.html" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/projects.html">Overview</a></li>
                      <li class="dropdown-header">Experimental</li>
                      <li><a href="/projects/tweezer.html">Laser Tweezer</a></li>
                      <li><a href="/projects/microfluidics.html">Microfluidics</a></li>
                      <li><a href="/projects/superres.html">Super-resolution microscopy</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">Biological data</li>
                      <li><a href="/projects/behavioural.html">Behavioural analysis</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">Clinical data</li>
                      <li><a href="/projects/clir.html">CLIR</a></li>
                    </ul>
                  </li>
               
                  
                  <li class="dropdown">
                    <a href="/articles.html" class="dropdown-toggle" data-toggle="dropdown">Writing<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header">Articles</li>
                      <li><a href="/articles/quadruplex.html">G4 Quadruplexed DNA</a></li>
                    </ul>
                  </li>
                  
                  <li><a href="https://github.com/adrowe1" target="_blank">Github</a></li>
             
                  <li><a href="/contact.html">Contact</a></li>

                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>