<!-- Marketing messaging and featurettes
   ================================================== -->
   <!-- Wrap the rest of the page in another container to center all the content. -->

   <div class="container marketing">

     <!-- Three columns of text below the carousel -->
     <div class="row">
       <div class="col-lg-4">
         <img class="img-circle" src="../assets/tweezer1.png" width="140px" height="140px" alt="Laser tweezer nano-manipulation">
         <h2>Laser tweezer</h2>
         <p>Nano-manipulation and high speed imaging combined to further our understanding of DNA repair mechanisms.</p>
         <p><a class="btn btn-default" href="/projects/tweezer.html" role="button">View details &raquo;</a></p>
       </div><!-- /.col-lg-4 -->
       <div class="col-lg-4">
         <img class="img-circle" src="../assets/superres1.png" width="140px" height="140px" alt="Super-resolution microscopy">
         <h2>Super-resolution microscopy</h2>
         <p>Fluorescence imaging with spatial resolution far below the diffraction limit.</p>
         <p><a class="btn btn-default" href="/projects/superres.html" role="button">View details &raquo;</a></p>
       </div><!-- /.col-lg-4 -->
       <div class="col-lg-4">
         <img class="img-circle" src="../assets/clinical1.png" width="140px" height="140px" alt="Clinical data analysis">
         <h2>Clinical data</h2>
         <p>An international collaborative effort analyzing large biochemical marker datasets.</p>
         <p><a class="btn btn-default" href="/projects/clir.html" role="button">View details &raquo;</a></p>
       </div><!-- /.col-lg-4 -->
     </div><!-- /.row -->


     <!-- START THE FEATURETTES -->

     <hr class="featurette-divider">

     <div class="row featurette">
       <div class="col-md-7">
         <h2 class="featurette-heading">Projects. <span class="text-muted">an overview of the projects I am involved with.</span></h2>
         <p class="lead">Laser tweezer, single molecule, super-resolution imaging, DNA repair, Huntington's disease, Clinical biochemistry, Newborn screening, Genetic analysis.</p>
         <p><a class="btn btn-default" href="/projects.html" role="button">Read more &raquo;</a></p>
       </div>
       <div class="col-md-5">
         <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
       </div>
     </div>

     <hr class="featurette-divider">

     <div class="row featurette">
       <div class="col-md-5">
         <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
       </div>
       <div class="col-md-7">
         <h2 class="featurette-heading">CLIR 2.0. <span class="text-muted">A collaboration with the Mayo Clinic.</span></h2>
         <p class="lead">This is a large scale effort to dramatically improve our understanding of the effects of many factors on the markers used in diagnostics.</p>
         <p><a class="btn btn-default" href="/projects/clir.html" role="button">Read more &raquo;</a></p>
       </div>
     </div>


     <!-- /END THE FEATURETTES -->